.sitepage.sitepage--freguesias {
  .search {
    margin-bottom: 3rem;

    .form-control {
      max-width: 400px;
    }

    .totalfreg {
      padding: 10px;
    }
  }

  .freglist {
    columns: 4;

    &.searching {
      columns: 1;
    }

    a {
      display: block;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #e4ded3;
    }
  }
}
