.sitepage.sitepage--hp {
  .hpcard {
    padding-bottom: 2rem;
  }

  .readmore--homepage {
    font-size: 13px;

    .readmore__inner--false {
      max-height: 40px;
    }

    .btn.btn-link {
      font-size: 13px;
    }
  }
}
