.distritos-detalhe {
  &__tableIne {
    width: 150px;
  }
  &__tableUl {
    margin: 0.5rem 0;
  }
  &__tableTitleLink {
    font-size: 1.25rem;
    display: inline-block;
    margin-top: .5rem;
  }
  &__bold--green {
    color: var(--bs-teal);
  }
  &__bold--red {
    color: var(--bs-red);
  }
}
