.sitepage.sitepage--distats {
  .nav-tabs .nav-item {
    &:first-of-type .nav-link {
      padding-left: 0;
      &:hover,
      &.active {
        border-left: none;
        border-top-left-radius: 0;
      }
    }
    .nav-link {
      font-family: 'PoppinsSemiBold';

      &.active {
        background-color: transparent;
      }
    }
  }

  .tab-pane {
    padding-top: 1rem;
  }

  table.table-sexos {
    border: 1px solid #ccc;

    * {
      font-size: 12px;
    }

    td.nametd {
      width: 25%;
      font-family: 'PoppinsSemiBold';
    }

    td.default-men {
      background-color: #52749b;
      padding-right: 10px;
      color: white;
      position: relative;
      text-align: right;

      .mulheres {
        position: absolute;
        background-color: #de6c84;
        color: white;
        padding: 4px 10px;
        top: 0;
        height: 100%;
        left: 0;
        text-align: left;
      }
    }
  }

  table.table-idades {
    border: 1px solid #ccc;

    * {
      font-size: 12px;
    }

    th {
      font-family: 'PoppinsSemiBold';
      background-color: #d8d3c7;
      color: #333;
      font-size: 14px;
    }

    td.nametd {
      width: 25%;
      font-family: 'PoppinsSemiBold';
    }

    td.idades {
      position: relative;
      padding: 0;

      div {
        color: white;
        padding: 4px 10px;
        top: 0;
        height: 100%;
        left: 0;
        text-align: left;
      }

      div.d-flex {
        padding: 0;
        background-color: #0d6efd;
      }

      .criancas {
        background-color: #9ec5fe;
      }
      .jovens {
        background-color: #6ea8fe;
      }
      .adultos {
        background-color: #3d8bfd;
      }
      .seniores {
        background-color: #0d6efd;
      }
    }
  }

  .popgain__table {
    &.table-striped > tbody > tr:nth-of-type(odd) > * {
      --bs-table-bg-type: #f4f3f1;
    }

    td {
      font-size: 14px;
    }

    .popgain__tableIne {
      width: 150px;
    }

    .popgain__tableUl {
      margin: 0.5rem 0;
    }

    .popgain__tableTitleLink {
      font-size: 1.25rem;
      font-family: 'RestoraBold';
      display: inline-block;
      margin-top: 0.5rem;
    }

    .popgain__bold--green {
      color: var(--bs-teal);
    }

    .popgain__bold--red {
      color: var(--bs-red);
    }
  }
}
