.headerdrop {
  .dropdown-toggle {
    font-size: 14px;
    text-decoration: none;
    color: #b9b9b9;
  }

  .dropdown-menu {
    left: auto !important;
    right: 0;
    width: 200px;
    padding: 1rem;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 12px;
        margin-bottom: 6px;
      }
    }
  }
}
